:root {
  font-family: Doto, system-ui, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "ROND" 100;
  font-weight: 500;

  color-scheme: light dark;
  --text-color: #03045e;
  --bg-color: #caf0f8;
  --input-bg: #ffffff;
  --input-border: #03045e;
  --input-hover-border: #023e8a;
  --input-focus-border: #0000ff;
  --input-shadow: #364f71;
  --btn-bg: #0077b6;
  --btn-text: #ffffff;
  --btn-hover-bg: #0079bb;
  --btn-active-bg: #4349b8;
  --btn-disabled-bg: #0079bb;
  --btn-disabled-text: #e3e3e3;
  --btn-focus-border: #ffffff;
  --btn-focus-shadow: rgba(255, 255, 255, 0.6);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme='dark'] {
  --text-color: #e0e0e0;
  --bg-color: #121212;

  --input-bg: #333333;
  --input-border: #4f4f4f;
  --input-hover-border: #76b3e6;
  --input-focus-border: #4a90e2;
  --input-shadow: #4b4b4b;

  --btn-bg: #0077b6;
  --btn-text: #ffffff;
  --btn-hover-bg: #007eb8;
  --btn-active-bg: #4349b8;
  --btn-disabled-bg: #0079bb;
  --btn-disabled-text: #e3e3e3;
  --btn-focus-border: #ffffff;
  --btn-focus-shadow: rgba(255, 255, 255, 0.6);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s
}

h1 {
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}