.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 1rem 0;
    margin-top: 30px;
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 4rem;
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.nav-list li {
    cursor: pointer;
    font-size: 30px;
    transition: 0.2s ease;
}

.nav-list li:hover {
    color: #007BFF;
    font-size: 32px;
}

.theme-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.theme-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.theme-toggle .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cfe3e1;
    transition: 0.4s;
    border-radius: 34px;
}

.theme-toggle .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

.theme-toggle input:checked+.slider {
    background-color: #0077b6;
}

.theme-toggle input:checked+.slider:before {
    transform: translateX(26px);
}