
.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-content {
    position: relative;
    background-color: rgb(30, 33, 52);
    padding: 3em;
    border-radius: 12px;
    border-color: #000 solid 3px ;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 700px;
    text-align: center;
    color: #ffffff;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 3em;
    color: #666;
    cursor: pointer;
}

.close-btn:hover {
    color: #000;
}

.overlay-content h1 {
    margin-bottom: 50px;
    font-size: 3em;
}

.overlay-content h2 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 2.5em;
    text-align: left;
}

.overlay-content.ul{
    margin-bottom: 10px;
}

.overlay-content li {
    margin-bottom: 15px;
    font-size: 2em;
    text-align: left;
    font-weight: normal;
}